
#describe{
    cursor: alias;
}
@media only screen and (max-width:768px){
    .expcontainer{
        flex-direction: column;
        
        

    }
    
} 

.expcontainer{
    display: flex;
    justify-content: space-around; 
}

.example-card:hover{
    box-shadow: 2px solid blue;
    
}