.example-card {
    max-width: 680px;
    margin-left: 39px;
    margin-top: 20px;
    /* z-index: 1; */
  }


  @media screen and (max-width: 768px) {
    .con{
      flex-wrap: wrap;
    }
    
  }
  