<div class="row gx-0 d-flex w-100" style="padding-top:93px ;width: 100vh;">
    <div class="col-md-5 d-none d-md-block  text-danger" style="background-color: #0b1122;">
        <div style="position: fixed;">
            <div style="margin-top: 70px;margin-left: 79px;">
                <div class="mt-3" style="font-size: 100px;color: aqua;">SOBIN </div>
                <div class="mt-3" style="font-size: 20px;color: aqua;">MEAN STACK DEVELOPER </div>
                <div class="mt-3" style="font-size: 15px;color: aqua;">I build pixel-perfect, engaging,<p>and accessible
                        digital experiences.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-7 pt-4  " style="background-color: #0b1122;">
        <div class="container px-5 w-100" style="color: gray;">
            Back in 2012, I decided to try my hand at creating custom Tumblr themes and tumbled head first into the
            rabbit hole of coding and web development. Fast-forward to today, and I’ve had the privilege of building
            software for an advertising agency, a start-up, a huge corporation, and a digital product studio.

            My main focus these days is building accessible user interfaces for our customers at Klaviyo. I most enjoy
            building software in the sweet spot where design and engineering meet — things that look good but are also
            built well under the hood. In my free time, I've also released an online video course that covers everything
            you need to know to build a web app with the Spotify API.


        </div>
        <div class="w-100">
            <mat-card class="example-card mx-5" style="color: gray;background-color: #0b1122;">
                <div class="con d-flex">
                    <div class="year w-100 mt-4 mx-5">2021-2023</div>
                    <div class="exp">
                        <mat-card-header>
                            <mat-card-title class="text-light">Mean Stack Developer</mat-card-title>
                            
                        </mat-card-header>
                        <mat-card-content>
                            <p>Luminar Technolab</p>
                            <p>Attended Mean and Mern stack internship from Luminar Technolab Calicut and worked on several projects in Mean as well as Mern stack. </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-raised-button style="border-radius: 35px;color: aqua;background-color: rgb(31, 50, 50);">Angular</button>
                            <button mat-raised-button style="border-radius: 35px;color: aqua;background-color: rgb(31, 50, 50);">MongoDb</button>
                            <button mat-raised-button style="border-radius: 35px;color: aqua;background-color: rgb(31, 50, 50);">Express</button>
                            <button mat-raised-button style="border-radius: 35px;color: aqua;background-color: rgb(31, 50, 50);">Nodejs</button>
                            <button mat-raised-button style="border-radius: 35px;color: aqua;background-color: rgb(31, 50, 50);">Reactjs</button>
                            <button mat-raised-button style="border-radius: 35px;color: aqua;background-color: rgb(31, 50, 50);">Angular Material</button>
                            <button mat-raised-button style="border-radius: 35px;color: aqua;background-color: rgb(31, 50, 50);">rxJs</button>

                            <button mat-raised-button style="border-radius: 35px;color: aqua;background-color: rgb(31, 50, 50);">Bootstrap 5</button>
                        </mat-card-actions>
                    </div>
                </div>
            </mat-card>
            
            <mat-card class="example-card mx-5" style="color: gray;background-color: #0b1122;">
                <div class="con d-flex">
                    <div class="year w-100 mt-4 mx-5">2021-2023</div>
                    <div class="exp">
                        <mat-card-header>
                            <mat-card-title class="text-light">Angular Developer</mat-card-title>
                            
                        </mat-card-header>
                        <mat-card-content>
                            <p>Tata Consultancy Services</p>
                            <p>Worked as an angular developer for a client project in Tcs. </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-raised-button style="border-radius: 35px;color: aqua;background-color: rgb(31, 50, 50);">Angular</button>
                            
                            <button mat-raised-button style="border-radius: 35px;color: aqua;background-color: rgb(31, 50, 50);">HTML</button>
                            <button mat-raised-button style="border-radius: 35px;color: aqua;background-color: rgb(31, 50, 50);">Nodejs</button>
                            <button mat-raised-button style="border-radius: 35px;color: aqua;background-color: rgb(31, 50, 50);">CSS</button>
                            <button mat-raised-button style="border-radius: 35px;color: aqua;background-color: rgb(31, 50, 50);">Angular Material</button>
                            <button mat-raised-button style="border-radius: 35px;color: aqua;background-color: rgb(31, 50, 50);">Bootstrap 5</button>
                        </mat-card-actions>
                    </div>
                </div>
            </mat-card>
         
        </div>
    </div>
</div>