
#describe{
    cursor: alias;
}
@media only screen and (max-width:768px){
    .expcontainer{
        flex-direction: column;
        
        

    }
    
} 

.expcontainer{
    display: flex;
    justify-content: space-around; 
}

.example-card:hover{
    box-shadow: 2px solid blue;
    
}

.sobin {
    /* font-family: "Nanum Gothic", sans-serif; */
    font-family: "Roboto Mono", monospace;

    font-weight: 400;
    font-style: normal;
  }
  