<div class="d-flex w-100" id="home" style="background-color: #0b1122;padding-top: 200px;color: white;overflow-x: hidden;">

    <div style="width: 100px;display: flex;align-items:flex-end;margin-bottom: 110px;height: 580px;">
        <ul style="list-style: none;">
            <li><i class="fa-brands fa-github" style="color: #16d6e3;"></i></li>
            <li><i class="fa-brands fa-instagram" style="color: #16d6e3;"></i></li>
            <li><i class="fa-brands fa-linkedin" style="color: #16d6e3;"></i></li>
            <li><i class="fa-brands fa-twitter" style="color: #16d6e3;"></i></li>
            <div class=" ms-2 vl" style="color: aquamarine;"></div>

        </ul>

    </div>
    <div class="w-100 ms-4">
        <p style="color: aqua;width: 100%;">Hi My name is,</p>
        <h1 style="font-size: 70px;">
            SOBIN
        </h1>
        <h1 class="d-none d-md-block" style="font-size: 80px;margin: 0px;">MEAN STACK DEVELOPER</h1>
        <h1 class="d-block d-md-none" style="font-size: 50px;margin: 0px;">MEAN STACK DEVELOPER</h1>
        <p class="w-50 m-0" style="text-align:start;color: aqua;">Hi I'Am a MEAN Stack Developer proficient in MongoDB, Express.js, Angular.js, and Node.js.
             Passionate about
            building dynamic web applications and solving problems. Collaborative team player with strong programming skills.
        </p>
        <div style="color: aquamarine;background-color: #0b1122;padding-bottom: 100px;width: 100%;">
            <button routerLink="/describe" mat-stroked-button color="accent" style="color: aqua;border: 2px solid aqua;width: 140px;margin-top: 25px;">Explore</button>
        
            
        </div>


    </div>
    
</div>
